html,
body {
  height: 100%;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: max-content;
  gap: 25px;
  align-items: start;
  padding: 5% 50px 5% 50px;
  position: relative;
}

.botoes-acoes {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3%;
  left: 0;
  gap: 15px;
}

.fa-plus,
.fa-right-from-bracket {
  margin-right: 10px;
}

.botoes-acoes > button {
  font-size: larger;
}
/* css modal */

dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  color: white;
  border: none;
  display: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

label {
  display: flex !important;
  flex-direction: column !important;
}

.novo-lembrete {
  width: 500px;
  margin: 5% auto 0 auto;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.336);
  border-radius: 15px;
  position: relative;
  height: fit-content;
}
textarea {
  height: 150px;
  resize: none !important;
  border-radius: 5px;
}
.novo-lembrete > label > input {
  border-radius: 5px;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.btn-container > button {
  font-size: large;
  font-weight: 500;
}

@media (max-width: 600px) {
  main {
    padding: 0 0 0 0;
  }
  .botoes-acoes > button {
    font-size: small;
  }
  .novo-lembrete {
    margin: 35% 0 0 0;
  }
}

.fa-x {
  position: absolute;
  right: 20px;
  top: 20px;
}
.fa-x:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.botoes-acoes {
  z-index: 9999999;
}

.edit-delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
  font-size: 20px;
}
.edit-delete-btn > *:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.card {
  position: relative;
  min-height: 150px;
}

/* login page */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.vh-100 {
  max-width: 1400px;
  margin: 0 auto 0 auto;
}
/* ******************** */
